<div>Welcome {{userName}}</div>

<div class="ui segment">
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  
  <div class="ui basic segment">
    <div class="ui cards">
      <app-workout *ngFor='let localWorkout of workouts' [workout]='localWorkout' (deleteWorkout)='removeWorkout($event)'></app-workout>
    </div>
  </div>
</div>

<canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
	chart-series="series" chart-click="onClick"></canvas> 

<script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>